<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>
  <p>
    <strong>Users with access:</strong>
  </p>
  <p>
  <% (@entry_permissions || {}).each_pair do |level, users| %>
    <strong><%= level %></strong>:
    <%= users.map { |u| u.last.email }.join(", ")  %>
  <% end %>
</p>
</div>
